{% extends 'base.html' %}
{% load static %}
{% block content %}

{%block css%}
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

{%endblock%}

    <!-- breadcrumb start -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title">
                        <h2>search</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active">search</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb End -->


    <!--section start-->
    <section class="authentication-page">
        <div class="container">
            <section class="search-block">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3">
                            <form action="{% url "search"%}" class="form-header">
                                <div class="input-group">
                                    <input id="product" name="q" type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                                        placeholder="Search Products......">
                                    <div class="input-group-append">
                                        <button class="btn btn-solid"><i class="fa fa-search"></i>Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <!-- section end -->


    <!-- product section start -->
    <section class="section-b-space ratio_asos">
        <div class="container">
            <div class="row search-product">
                {% if prods|length < 1 %}
                <h3 style="color:red;">We dont have any products matching with your search ! ! ! </h3>
                {%else%}
                {%for prod in prods%}
                <div class="col-xl-2 col-md-4 col-sm-6">
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="/{{prod.get_absolute_url}}"><img src="/{{prod.main_img}}"
                                        class="img-fluid blur-up lazyload bg-img" alt=""></a>
                            </div>
                            <div class="back">
                                {%for image in prod.img.all%}
                                <a href="/{{prod.get_absolute_url}}"><img
                                        src="/{{image.image}}"
                                        class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                        {%endfor%}
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-toggle="modal" data-target="#addtocart" title="Add to cart"><i
                                        class="ti-shopping-cart"></i></button> <a href="javascript:void(0)"
                                    title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a> <a href="#"
                                    data-toggle="modal" data-target="#quick-view" title="Quick View"><i
                                        class="ti-search" aria-hidden="true"></i></a> <a href="compare.html"
                                    title="Compare"><i class="ti-reload" aria-hidden="true"></i></a></div>
                        </div>
                        <div class="product-detail">
                            <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                    class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                            <a href="product-page(no-sidebar).html">
                                <h6>{{prod.title}}</h6>
                            </a>
                            <h4>${{prod.price}}</h4>
                            <ul class="color-variant">
                                {% for colors in color %}
                                                {%if colors in prod.value.all%}
                                                   <li style="background-color:{{colors.title}}" class="bg-light0"></li>
                                                {%endif%}
                                              {%endfor%}
                            </ul>
                        </div>
                    </div>
                </div>
                {%endfor%}
                {%endif%}
               
            </div>
        </div>
    </section>
    <!-- product section end -->
{%block js%}
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
{%endblock%}
<script>
    
    $( async function() {
      var response=await fetch(`${location.origin}/api/products/`)

      var data=await response.json()
      var availableTags = [
        
      ];
      for(var i=0;i<data.length;i++){
       availableTags.push(data[i]["title"])
      }
     
      $( "#product" ).autocomplete({
        source: availableTags
      });
    } );
    </script>
{% endblock %}